#For VIEWS_DIR, use the name of the folder in your plugin directory.
#For example, if the folder path is wp-content/plugins/your-plugin/views
#The views directory will be
VIEWS_DIR='/views'

# Table prefix is your plugin table prefix, not the WordPress table prefix
TABLE_PREFIX='kmcf7_'

# Migrations dir is the directory where your migration files will be stored
# It is relative to the root of your plugin directory
#For example, if the folder path is wp-content/plugins/your-plugin/migrations
#The views directory will be
MIGRATIONS_DIR='/migrations'

# Models dir is the directory where your model files will be stored
# It is relative to the root of your plugin directory
#For example, if the folder path is wp-content/plugins/your-plugin/models
#The views directory will be
MODELS_DIR='/models'

# If you want to use the WordPress Tools command line script, please set the path the the wordpress-tools directory
WORDPRESSTOOLS_DIR='/lib/wordpress_tools'

# To avoid conflicts with other plugins, please set a unique namespace for your plugin. Your name space should be one word and should not contain any special characters
NAMESPACE=''
